#formularioCanje{
    background-color: white;
    color: black;
    width: 42%;
    margin-left: 28.5%;
    padding: 2%;
    margin-top: 8%;
}

#formularioCambiarContra{
    background-color: white;
    color: black;
    width: 42%;
    margin-left: 28.5%;
    padding: 2%;
    margin-top: 5%;
}

.contra{
    width: 100%;
    margin-left: 40%;
    border-style: solid;
    border-color: black;
}

.contraConf{
    width: 100%;
    margin-left: 40%;
    margin-top: 5%;
    border-style: solid;
    border-color: black;
}

#actualizarContra{
    margin-left: 63%;
}

.h3{
    text-align: center;
}

#codigoCupon{
    background-color: #616161;
    margin-right: -52%;
    margin-left: 23%;
    padding: 2%;
    margin-top: 8%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 6%;
    padding-bottom: 5%;
}

#verificar{
    margin-top: 4%;
    margin-left: 34%;
    padding-left: 10%;
    padding-right: 10%;
}

.separador{
    width: 178%;
}

.fechaCanje{
    margin-left: 90%;
    width: 150%;
}

.fechaC{
    margin-top: -10%;
}

#duiCanjeador{
    margin-left: 70%;
    margin-top: -11.3%;
    width: 100%;
    border-style: solid;
    border-color: black;
}

#codigo{
    width: 100%;
}

#formularioRecuperarContra{
    background-color: white;
    color: black;
    width: 42%;
    margin-left: 30%;
    padding: 2%;
    margin-top: 5%;
}

#recuperarContrasena{
    margin-left: 40.5%;
}

#canjear{
    height: 259.4px;
}

#botones{
    display: none;
    width: 180%;
}

.canje{
    padding-left: 5%;
    padding-right: 5%;
}

.cancelar{
    margin-left: 60%;
    padding-left: 5%;
    padding-right: 5%;
}

.tareas{
    margin-left: 15%;
}