.titulo{
    margin-bottom: 3%;
}
.contentabla{
    width:40%;
    margin-left: 5%;
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 2%;
    margin-bottom: 5%;
}
.contenform{
    background-color: white;
    width: 40%;
    margin-top: -35%;
    margin-left: 55%;
    padding: 2%;
    color:black;
    margin-bottom: 1%;
    height: auto;
    position: absolute;
}