.contendatos{
    border: solid black;
    width: 90%;
    margin-left: 5%;
    padding-top: 2%;
    padding-left: 3%;
    padding-bottom: 2%;
    height: 450px;
    overflow-y: scroll;
    margin-bottom: 2%;
}
.contenofer{
    width: 30%;
    border: solid black;
    margin-right: 3%;
    float: left;
    background-color: white;
    color:black;
    padding: 1%;
}
.contenofer:nth-child(3n){
     margin-bottom: 3%;
}
#contenpre{
    display: flex;
}
#contenpre div{
    margin-left: 10%;
}
#contenfech{
    display: flex;
    margin-left: 6%;
}
#contenfech div{
    margin-right: 6%;
}
#contendescrip{
    width: 100%;
}
#imagenofer{
    width: 100px;
    height: 100px;
}
.btnmostar{
    margin-left: 23%;
}

.imagenoferta{
    width: 200px;
    border: solid black;
    height: 200px;
    margin-bottom: 3%;
}
.contencontable{
    margin-left: 38%;
    margin-top: -40%;
    position: absolute;

    width: 50%;
    text-align: center;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    width: 53.02%;
    background-color: #C2185B;
    margin-left: 5%;
    
    color: white;
}



/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: black;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #424242;
}

/* Style the tab content */
.tabcontent {
    display: none;
    
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}